<a href="https://colab.research.google.com/github/wayanpdw/Clustering-Customer-Segmentation/blob/main/Mall_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Clustering**
I Wayan Pasek Dian Wahyudi | DS0114 | Telkom DTI 2020


# Pendahuluan
Analisis *cluster* atau *clustering* adalah sebuah proses mengkategorikan data ke dalam beberapa kelompok/ *cluster* sehingga anggota kelompok dalam satu *cluster* memiliki nilai kemiripan lebih tinggi daripada kelompok lain.

Umumnya proses *clustering* dibagi menjadi dua metode yaitu:


1.   Hierarchial *Clustering* (Teknik *clustering* berdasarkan hirarki, dimana terdapat penggabungan dua grup yang terdekat)
2.   Particial *Clustering* (Pengelompokan data dengan metode penetapan titik pusat/ centroid dan meminimumkan jarak kemiripan dari seluruh data ke centroidnya masing-masing)

Terdapat Tiga jenis metode patitional *clustering* yang populer, yaitu: K-Means, Fuzzy C-means, dan QT *clustering*.

# Pemanfaatan Metode Clustering

Pada proyek kali ini kita akan memodelkan metode *clustering* berdasarkan data pendapatan dan pengeluaran dari pelanggan pada suatu mall. Model ini nantinya akan digunakan untuk membuat sebuah segmentasi pelanggan, sehingga dalam pemanfaatannya diharapkan model ini dapat digunakan sebagai insight dalam strategi pemasaran yang optimal.

Data pelanggan yang akan digunakan bersumber dari https://raw.githubusercontent.com/wayanpdw/Clustering-Customer-Segmentation/main/Mall_Customers.csv

Langkah-langkah dalam membuat model *clustering* akan dijabarkan secara runut dibawah.

#1. Menyiapkan Data


Mengimpor *Libraries*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Mengimpor data mentah dengan *library* pandas

In [12]:
df_data = pd.read_csv ('https://raw.githubusercontent.com/wayanpdw/Clustering-Customer-Segmentation/main/Mall_Customers.csv')
df_data

# Memunculkan 5 data pertama dalam sebuah dataframe baru (opsional)
df_data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

Menampilkan informasi dari dataset pelanggan.

In [13]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

Dari informasi diatas, terdapat dua jenis data yaitu tipe data integer dan object. Data integer kita olah untuk membuat *Descriptive Statics*.

Berikut tampilan *Descriptive Statics*-nya.

In [14]:
df_data.describe().transpose()

                        count    mean        std  ...    50%     75%    max
CustomerID              200.0  100.50  57.879185  ...  100.5  150.25  200.0
Age                     200.0   38.85  13.969007  ...   36.0   49.00   70.0
Annual Income (k$)      200.0   60.56  26.264721  ...   61.5   78.00  137.0
Spending Score (1-100)  200.0   50.20  25.823522  ...   50.0   73.00   99.0

[4 rows x 8 columns]